.service-section{
    width: 100%;
    height: auto;
    display:flex;
    text-align: center;
    align-items: center;
    padding: 80px 0;
    background-color: rgba(128, 128, 128, 0.605);
}
.service-container{
    padding-top: 90px;
    width: 100%;
    height: auto;
}
.divBox-con{
    flex: 30%;
    width: 90%;
    padding: 25px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.divBox{
    position: relative;
    width: 300px;
    height: 130px;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px;
    padding-top: 50px;
  
}
.divBox .hidden p{
    position: absolute;
      width: 300px;
    height: 120px;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    bottom:-130px ;
      transition: all .5s ease;
      font-size: 14px;
    
     /* background-image: linear-gradient( rgba(218, 163, 14, 0.737), rgba(204, 11, 11, 0.6)); */
}
.divBox .hidden{
    position: relative;
    width: 300px;
    height: 90px;
    left: 0;
    top: -10px;
      border-radius: 5px;
    border: none;
    z-index: 9999999999;
    background-color: transparent;
    overflow: hidden;
}
.divBox .hidden:hover  p{
    left: 0;
   bottom: -20px;
   transition: all .5s ease;
}
.divBox .hidden:hover span{
       top: -5px;
       transition: all .5s ease;
       font-size: 18px;
        left: 0;
 justify-content: center;
}
.divBox .hidden span{
    position: absolute;
    display: flex;
   width: 100%;
    top: 10px;
    font-size: 20px;
    transition: all .5s ease;
    margin: 0;
  left: 0;
 justify-content: center;
}

 .hidden:hover .divBox{
background-image: linear-gradient( rgba(218, 163, 14, 0.737), rgba(204, 11, 11, 0.6));
}
.divBox div{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 25px;
   left: 42%;
   top: -20px;
    border: 2px solid white;
    z-index: 9999999999999999;
}